<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>HASH TECHIE OFFICIAL</title>
    </head>
</html> -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Variant Food Generator</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <h1>Variant Food Generator BLAH BLAH MARK PHAM</h1>
  <p>Calories limit per meal</p>
  <input id="cal_input" type="text"></input>
  <button onclick="getFood()">Randomize</button>

  <div>
    <table id="result_table">
      <tr><th>Name</th><th>Calories</th></tr>
      <tr>
      </tr>
    </table>
  </div>

  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>